/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
/* By Athlon Front-End Team */
/* Core variables */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/* Fonts */
@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Regular"), url(../images/design/Poppins-Regular.aa27b6.woff) format("woff");
}
@font-face {
  font-family: "Poppins Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Italic"), url(../images/design/Poppins-Italic.583b15.woff) format("woff");
}
@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Thin"), url(../images/design/Poppins-Thin.c357f4.woff) format("woff");
}
@font-face {
  font-family: "Poppins Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Thin Italic"), url(../images/design/Poppins-ThinItalic.04ff25.woff) format("woff");
}
@font-face {
  font-family: "Poppins ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins ExtraLight"), url(../images/design/Poppins-ExtraLight.84c7f5.woff) format("woff");
}
@font-face {
  font-family: "Poppins ExtraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins ExtraLight Italic"), url(../images/design/Poppins-ExtraLightItalic.0e15ef.woff) format("woff");
}
@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Light"), url(../images/design/Poppins-Light.55085b.woff) format("woff");
}
@font-face {
  font-family: "Poppins Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Light Italic"), url(../images/design/Poppins-LightItalic.f8013e.woff) format("woff");
}
@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Medium"), url(../images/design/Poppins-Medium.c91495.woff) format("woff");
}
@font-face {
  font-family: "Poppins Medium Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Medium Italic"), url(../images/design/Poppins-MediumItalic.540729.woff) format("woff");
}
@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins SemiBold"), url(../images/design/Poppins-SemiBold.c21691.woff) format("woff");
}
@font-face {
  font-family: "Poppins SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins SemiBold Italic"), url(../images/design/Poppins-SemiBoldItalic.5d1d81.woff) format("woff");
}
@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Bold"), url(../images/design/Poppins-Bold.9a2740.woff) format("woff");
}
@font-face {
  font-family: "Poppins Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Bold Italic"), url(../images/design/Poppins-BoldItalic.d32380.woff) format("woff");
}
@font-face {
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/../fonts/Poppins ExtraBold"), url(../images/design/Poppins-ExtraBold.ede5f4.woff) format("woff");
}
@font-face {
  font-family: "Poppins ExtraBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins ExtraBold Italic"), url(../images/design/Poppins-ExtraBoldItalic.c10ddd.woff) format("woff");
}
@font-face {
  font-family: "Poppins Black";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Black"), url(../images/design/Poppins-Black.ef8fd8.woff) format("woff");
}
@font-face {
  font-family: "Poppins Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("../fonts/Poppins Black Italic"), url(../images/design/Poppins-BlackItalic.449b69.woff) format("woff");
}
/* Mixins, helpers and functions */
h1, h2, h3, h4, h5 {
  font-family: "Poppins Bold", sans-serif;
  margin-top: 0;
  padding-top: 0;
}

p {
  font-family: "Poppins Regular", sans-serif;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 40px;
}

.important {
  position: relative;
  color: cornflowerblue;
}

.important:after {
  content: "";
  display: block;
  background: cornflowerblue;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: width 0.2s ease, height 0.4s, opacity 0.1s;
  transition: width 0.2s ease, height 0.4s, opacity 0.1s;
  z-index: -1;
  opacity: 0;
}
.important:hover {
  color: white;
}
.important:hover:after {
  width: calc(100% + 10px);
  height: 100%;
  opacity: 1;
}

button.primary {
  position: relative;
  color: white;
  border: none;
  padding-inline: 20px;
  padding-block: 10px;
  height: 50px;
  background: cornflowerblue;
  font: 14px "Poppins Bold", sans-serif;
}
button.primary:hover {
  cursor: pointer;
}
button.primary:hover .icon {
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

header {
  width: 1200px;
  min-height: 90px;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header ul {
  list-style: none;
}
header li {
  display: inline-block;
  font: 18px "Poppins Bold", sans-serif;
}
header li:not(:last-child) {
  margin-right: 40px;
}
header li:hover a {
  color: white;
}
header li:hover a:after {
  width: calc(100% + 40px);
  height: 30px;
  opacity: 1;
}
header a {
  padding: 10px 4px;
  position: relative;
  color: cornflowerblue;
  text-decoration: none;
}
header a:after {
  content: "";
  display: block;
  background: cornflowerblue;
  width: 1px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-transition: width 0.2s ease, height 0.4s, opacity 0.1s;
  transition: width 0.2s ease, height 0.4s, opacity 0.1s;
  z-index: -1;
  opacity: 0;
}
header .logo img {
  height: 70px;
}

.centered {
  text-align: center;
}

.large {
  font-size: 30px;
}

.medium {
  font-size: 20px;
}

.container {
  width: 1200px;
  margin-inline: auto;
}

section {
  padding-block: 80px;
}
section.primary {
  background-color: #1F58A8;
}
section.primary .section-title, section.primary p {
  color: white;
}
section.primary .icon {
  color: white;
}
section.secondary {
  background-color: rgba(100, 149, 237, 0.1);
}
section.secondary .section-title {
  color: cornflowerblue;
}
section#advantages img {
  width: 60%;
  margin-inline: auto;
  margin-bottom: 80px;
}

.section-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 48px;
  position: relative;
}
.section-title.small-spacing {
  margin-bottom: 20px;
}

.section-paragraph {
  font-size: 18px;
  text-align: center;
  margin-bottom: 48px;
  position: relative;
  font-family: "Poppins Regular", sans-serif;
}

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.separator:before, .separator:after {
  content: "";
  display: block;
  width: 100%;
  background: #B4BEC9;
  height: 1px;
}
.separator .icon {
  font-size: 24px;
  margin-inline: 20px;
  color: #B4BEC9;
}

.grid {
  display: grid;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.grid.grid-2 {
  grid-template-columns: 1fr 1fr;
}
.grid.grid-2 .illustration {
  height: 340px;
}
.grid.grid-2 .illustration img {
  height: 100%;
}
.grid.grid-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card .illustration img {
  margin-inline: auto;
}

.cards .col {
  -ms-flex-line-pack: baseline;
      align-content: baseline;
}

.card > .icon {
  font-size: 50px;
  color: cornflowerblue;
}
.card > .icon.large {
  font-size: 120px;
  margin-bottom: 40px;
}

.card h3 {
  margin-block: 30px;
  color: cornflowerblue;
}

.card p {
  font-family: "Poppins Regular", sans-serif;
}

.tech-stack {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tech-stack img {
  max-width: 160px;
  max-height: 60px;
  justify-self: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.1s ease-in-out;
  transition: -webkit-filter 0.1s ease-in-out;
  transition: filter 0.1s ease-in-out;
  transition: filter 0.1s ease-in-out, -webkit-filter 0.1s ease-in-out;
}
.tech-stack img:hover {
  -webkit-filter: none;
          filter: none;
}

footer {
  background: #1F58A8;
  height: 140px;
  padding-block: 20px;
  font-family: "Poppins Regular", sans-serif;
  color: white;
}
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .logo {
  height: 40px;
  margin-right: 40px;
}
footer .logo img {
  height: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  height: calc(100vh - 90px);
  width: 1200px;
  margin-inline: auto;
}
.hero h2 {
  font-size: 54px;
}
.hero p {
  font-size: 30px;
  margin: 0 0 40px;
  padding: 0;
}
.hero .description,
.hero .hero .illustration {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
.hero .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .illustration img {
  width: 600px;
}
